

#wrap{width: 100%; height: auto;}



/* menu */
/* .clickMenu{height: 100vh; width: 100%; background: #ECE5E1;
    font-family: 'Libre Baskerville', serif; position: absolute; 
z-index: 99999;} */

.clickMenu .wrap_portFolio{
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid #767371;
    border-top: 1px solid #767371;
}

.clickMenu .wrap_portFolio ul{width: 100%; height: 100%;}
.clickMenu .wrap_portFolio ul li{height: calc(100%/5); width: 100%; border-bottom: 1px solid #767371;
    font-size: 6vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clickMenu .wrap_portFolio ul li:nth-child(2n){
   color: #ECE5E1; 
   text-shadow: -1px 0 #000000, 0 1px #000000, 2px 0 #000000, 0 -1px #000000;
}
.clickMenu .wrap_portFolio ul li:last-child{height: calc(100%/5); width: 100%; border-bottom: 0}



/*section1 */
#wrap #section1{height: 100vh; width: 100%; background: #ECE5E1;
    font-family: 'Libre Baskerville', serif; position: relative;}

#wrap #section1 .wrap_portFolio{
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid #767371;
    border-top: 1px solid #767371;
}

#wrap #section1 .menu{
    width: 100%; 
    height: 5vh; 
    border-bottom: 1px solid #767371;
    position: relative;
    font-size: 1vw;

}
#wrap #section1 .menu p{
    padding-left: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#wrap #section1 .menu span{
    display: block;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    float: right;
}
    #wrap #section1 .menu span::before{
    content: '';
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: rotate(0deg);
    transition-duration: .3s;
}
    #wrap #section1 .menu span::after{
        content: '';
        width: 30px;
        height: 2px;
        background: rgb(0, 0, 0);
        position: absolute;
        left: 0;
        top: 10px;
        transform: rotate(0deg);
        transition-duration: .3s;
    }

    #wrap #section1 .content{
        height: 50vh; 
        position: relative; 
        width: 100%;
        font-size: 13vw;
        text-align: center;
        border-bottom: 1px solid #767371;
        

    }
    #wrap #section1 .content h6{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        font-weight: 300;
    }

    #wrap #section1 .content_bottom{
        width: 100%;
        height: 40vh;
        position: absolute;
        display: flex;
    }


    #wrap #section1 .content_bottom > div{
        width: 33.333%;
        height: auto;
        font-size: 1.1vw;
        

        

        
    }
    #wrap #section1 .content_bottom > div p{
        padding-bottom: 10px;
    }

    #wrap #section1 .content_bottom .rsum1{
        border-right: 1px solid #767371;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 3vh;
        padding-bottom: 5%;
        

    }
    #wrap #section1 .content_bottom .rsum2{
        border-right: 1px solid #767371;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        line-height: 3vh;
        padding-bottom: 5%;
    }

    #wrap #section1 .content_bottom .rsum3{
        display: flex;
        justify-content: end;
        align-items: center;
        line-height: 3vh;
    }
    #wrap #section1 .content_bottom .rsum3 ul{
        padding: 0 20%;
    }

    #wrap #section1 .content_bottom .rsum3 .fitst_write{
        font-weight: bold;
        font-size: 1.4vw;
        padding-bottom: 3vh;
    }


    /*section1 */
    #wrap #section2{height: 100vh; width: 100%; background: #ECE5E1;
    font-family: 'Libre Baskerville', serif; position: relative;}

    #wrap #section2 .wrap_portFolio{
        width: 100%;
        height: 95vh;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-bottom: 1px solid #767371;
        border-top: 1px solid #767371;
    }

    #wrap #section2 .menu{
        width: 100%; 
        height: 5vh; 
        border-bottom: 1px solid #767371;
        position: relative;
        font-size: 1vw;
    
    }

    #wrap #section2 .menu p{
        padding-left: 5%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    #wrap #section2 .content{
        display: flex;
        border-bottom: 1px solid #767371;
    }
    #wrap #section2 .content div{
        height: 60vh; 
        position: relative; 
        width: 70vw;
        font-size: 8vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 5%;
        

    }

    #wrap #section2 .content div p .suji{
        color: #ECE5E1;
        text-shadow: -1px 0 #000000, 0 1px #000000, 2px 0 #000000, 0 -1px #000000;
    }

    #wrap #section2 .content .suImg{
        width: 30vw;
        background: red;
    }
    #wrap #section2 .content .suImg img{
        width: 500px;
        height: auto;
        color: white;

    }




