

#wrap{width: 100%; height: auto;}




/*section1 */
#wrap #section1{height: 100vh; width: 100%; background: #ECE5E1;
    font-family: 'Libre Baskerville', serif; position: relative;}

#wrap #section1 .wrap_portFolio{
    width: 100%;
    height: 95vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-bottom: 1px solid #767371;
    border-top: 1px solid #767371;
}

#wrap #section1 .menu{width: 100%; height: 50px; border-bottom: 1px solid #767371;
    position: relative;

}
#wrap #section1 .menu p{line-height: 50px; padding-left: 5%; display: inline-block;}
#wrap #section1 .menu span{
    display: block;
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    float: right;
}
    #wrap #section1 .menu span::before{
    content: '';
    width: 30px;
    height: 2px;
    background: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: rotate(0deg);
    transition-duration: .3s;
}
    #wrap #section1 .menu span::after{
        content: '';
        width: 30px;
        height: 2px;
        background: rgb(0, 0, 0);
        position: absolute;
        left: 0;
        top: 10px;
        transform: rotate(0deg);
        transition-duration: .3s;
    }

    #wrap #section1 .content{
        height: 500px; position: relative; width: 100%;
        font-size: 13vw;
        text-align: center;
        margin-top: 22px;
        border-bottom: 1px solid #767371;

    }
    #wrap #section1 .content h6{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        font-weight: 300;
    }

    #wrap #section1 .content_bottom{
        height: 370px;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid #767371;
        display: flex;
    }


    #wrap #section1 .content_bottom > div{
        width: 33.333%;
        background: rebeccapurple;
    }

    #wrap #section1 .content_bottom .rsum1{
        background: red;
        padding: 5%;
    }
    #wrap #section1 .content_bottom .rsum2{
        background: yellow;
        padding: 5%;
    }
    #wrap #section1 .content_bottom .rsum3{
        background: green;
        padding: 5%;
    }