#wrap{width: 100%; height: auto;}
#wrap #section1{height: 100vh; background: #ECE5E1;}
#wrap #section1 .menu{height: 50px; width: 100%; background: white; border-bottom: 1px solid #767371;
    border-top: 1px solid #767371;
}